body {
  margin: 0;
  font-family:'cursive';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'cursive';
}
::-webkit-scrollbar {
  width: 2px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 18px;
}

@font-face {
  font-family: "bebas";
  src: url("./utils/Helvetica\ Neue\ Medium\ Extended.ttf");
  src: url("./utils/Helvetica\ Neue\ Medium\ Extended.ttf") format("embedded-opentype"),
    url("./utils/Helvetica\ Neue\ Medium\ Extended.ttf") format("truetype");
}